.logo {
    width: 100%;
}

.button {
    width: 90%;
    background: #1db954;
    color: #fff;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 500px;
    font-weight: 400;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

body {
    height: 100vh;
    margin: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
    background: #1f1f1f;
}
